<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
      <link rel="stylesheet" href="/css/main.css">
    <title> collaboration code review platform</title>
</head>
<body>
    <div id="root">
        <div class="logo">
           <img src="/images/hackathon.png" alt="">
        </div>

       <div heromessage>
         <h1>WELCOME to collaboration code review platform </h1>
         <p>The Collaborative Code Review Platform is an API-driven service that enables developers and teams to post code snippets, request feedback, and collaborate on reviews in real time. The API supports secure user management, project/repository organization, code submissions, inline commenting, review status tracking, and notifications.The platform is designed to simplify the peer review process by providing teams with a structured method for exchanging and collaborating on feedback asynchronously.</p>
        </div>
    </div>

</body>
</html>